body {
    margin: 0;
    font-family: Lato;
    background: #f9f9f9;
}

@media (max-width: 995px) {
    .business-model-page {
        grid-template-columns: 1fr!important;
        grid-template-rows: 1fr 1fr!important;
        grid-row-gap: 5rem;
    }
    .reasons-grid {
        grid-template-columns: 1fr!important;
        grid-template-rows: 1fr 1fr 1fr 1fr!important;
    }
    .header {
        display: none!important;
    }
}
@media (max-width: 1200px) {
    .container {
        display: block;
        margin-left: 10%;
    }
    .navigation {
        display: none;
    }
    .nav-miniscreen {
        display: flex;
        position: fixed;
        overflow-y: scroll;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #5976C0;
        z-index: 10;
        transform: translate(-100%);
        transition: all .32s cubic-bezier(.21,.58,.45,.86);
    }
    .nav-list {
        position: relative;
        margin-left: 10%;
        margin-top: 20%!important;
    }
    .nav-item {
        font-size: 50px;
        padding-bottom: 30px!important;
    }
    .menu-bar {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 40px;
        margin-top: 130px;
    }
    .business-model-page {
        margin-left: 2%!important;
        margin-right: 2%!important;
    }
    .why-us-page {
        margin-left: 4%!important;
        margin-right: 4%!important;
    }
}
@media (min-width: 1200.2px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-bar {
        display: none;
    }
    .nav-miniscreen {
        display:none;
    }
}

div {
    display: block;
}

.header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    top: 0;
    left: 0;
    width: 100%;
    background: #5976C0;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}
.header-platform {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    top: 0;
    left: 0;
    width: 100%;
    background: #5976C0;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    z-index: 10;
}

.header-item {
    display: flex;
    font-size: 24px;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.header-item:hover img{
    filter: none;
}

.header-item:hover {
    color: #5976C0;
    background: white;
}

.page-header {
    background: #5976C0;
    -webkit-clip-path: polygon(0 0,100% 0,100% 65%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 70%,0 100%);
    height: 400px;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 13rem;
}

.container {
    max-width: 1140px;
}

.logo {
    filter: brightness(0) invert();
    max-width: 205px;
}

.logo img {
    width: 300px;
    height: auto;
}

.page-title {
    color: white;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    text-align: left;
}

.navigation {
    position: fixed;
    right: 0;
    margin-right: 15%;
    max-width: 1140px;
    align-content: right;
}

.close {
    text-decoration: none;
    text-align: right;
    color: white;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 60px;
    font-size: 40px;
}

.nav-list {
    right:0;
    font-size: 30px;
    margin-top: 0;
}

.nav-item {
    display: block;
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.company-page {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
    margin-bottom: 8rem;
}

.company-page img {
    width: 700px;
    height: auto;
}

.company-info {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 30px;
    margin-top: 4rem;
}

.business-model-page {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 8rem;
    display: block;
    align-items: center;
    width: 90%;
}

.business-model-page h1 {
    display:block;
    font-size: 44px;
    text-align: center;
}

#diversity {
    display: flex;
    justify-content: center;
}

.why-us-page {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 8rem;
    text-align: center;
    font-size: 30px;
}

.reasons-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 150px;
    grid-row-gap: 50px;
}

.reasons {
    text-align: left;
    font-weight: bold;
    padding: 20px; 
    background: white;
    border-radius: 5px;
    border: solid #e9e9e9;

}

.reasons p {
    font-weight: normal;
    font-size: 20px;
}

/* --------------------------------------------------------------Platform--------------------------------------------------------------- */

.platform-page {
    padding-top: 50px;
    display:block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.platform-page h3{
    color: #999;
    margin-top:2rem;
}

.platform-page h1 {
    color: #5976C0;
}
.cards {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: auto;
    grid-row-gap: 100px;
    justify-items: center;
}

.company-card {
    display:block;
    box-sizing: border-box;
    height: 500px;
    width: 350px;
    border-radius: 3px;
    border: none;
}

.company-card:hover {
    border: 2px solid black;
}

.company-card-photo {
    box-sizing: border-box;
    height:250px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: red;
}

.company-card-photo img {
    box-sizing: border-box;
    width: 100%;
    height:100%;
}

.company-card-bottom {
    display: block;
    box-sizing: border-box;
    position: relative;
    height: 250px;
    width: 100%;
    margin-top: -25px;
    border: solid #e9e9e9;
    border-width: 0 1px 1px;
}

.company-card-logo {
    position: absolute;
    display:flex;
    top: 0px;
    left: 25px;
    width:55px;
    height:55px;
    margin-top: -50px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    padding: 3px;
    justify-content: center;
    border-radius: 2px;
}

.company-card-name {
    font-weight: 800;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

.company-card-info {
    font-size: 18px;
    font-weight: 300;
    padding-left: 25px;
    padding-right: 25px; 
    color: #555;
}

.company-card-area {
    position:absolute;
    bottom:0;
    font-size: 18px;
    font-weight: 300;
    color: #999;
    padding-left: 25px;
    padding-right: 25px;    
}